# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

redirect 301 /category/uslugi /uslugi
redirect 301 /product_cat/granitnyie-pamyatniki /services/granitnyie-pamyatniki
redirect 301 /product_cat/mramornyie-pamyatniki /services/mramornyie-pamyatniki
redirect 301 /product_cat/izgotovlenie-pamyatnikov-iz-murmanskogo-granita /services/izgotovlenie-pamyatnikov-iz-murmanskogo-granita
redirect 301 /product_cat/3d-proektyi-pamyatnikov /services/3d-proektyi-pamyatnikov
redirect 301 /product_cat/hudozhestvennaya-gravirovka /services/hudozhestvennaya-gravirovka
redirect 301 /product_cat/blagoustroystvo-zahoroneniya /services/blagoustroystvo-zahoroneniya
redirect 301 /product_cat/aksessuaryi-dlya-mogil /services/aksessuaryi-dlya-mogil
redirect 301 /product_cat/ogradyi /services/ogradyi
redirect 301 /product_cat/izgotovlenie-pamyatnikov-iz-murmanskogo-granita /services/izgotovlenie-pamyatnikov-iz-murmanskogo-granita
